<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

<div class="form-container">
  <form class="contact-form">
    <h1 class="contact-form__title">CONTACT</h1>

    <div class="contact-form__input-container">
      <label for="name" class="contact-form__label">Nick Name</label>
      <input    type="text" 
                id="name" 
                class="contact-form__input" 
                minlength="4" 
                maxlength="12"
                placeholder="Adam Smith"
                required>
    </div>

    <div class="contact-form__input-container">
      <label for="email" class="contact-form__label">Email</label>
      <input    type="email" 
                id="email" 
                class="contact-form__input"
                placeholder="example@mail.com"
                required>
    </div>

    <div class="contact-form__input-container">
      <label for="subject" class="contact-form__label">Subject</label>
      <input    type="text" 
                id="subject" 
                class="contact-form__input"
                placeholder="Great projects!!!" 
                required>
    </div>

    <div class="contact-form__input-container">
      <label for="message" class="contact-form__label">Message</label>
      <textarea         id="message" 
                        class="contact-form__textarea" 
                        cols="15" 
                        rows="5" 
                        placeholder="We invite you to cooperate!!!"
                        required></textarea>
    </div>

    <input type="submit" class="contact-form__submit-btn" value="Send Message">
  </form>

  <form action="/auth" method="get">
    <input type="submit" class="form-container__btn" value="Go back!">
  </form>

  <form action="/logout" method="get">
    <input type="submit" class="form-container__btn" value="Logout">
  </form>
</div>

<script src="/js/emailSender.js"></script>
</body>
</html>
